@import '../bower_components/foundation/scss/foundation';

@font-face {
    font-family: 'CodeProDemoRegular';
    src: url('../fonts/Code_Pro_Demo-webfont.eot');
    src: url('../fonts/Code_Pro_Demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Code_Pro_Demo-webfont.woff') format('woff'),
         url('../fonts/Code_Pro_Demo-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
$black-background: #111111 !important;

html, body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body h1 {
  font-family: "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 8em;
  font-weight: 600;
  margin-bottom: -40px; 
}
body h6 {
  margin-bottom: 0;
}

body { 
  background: url('https://developer.beatsmusic.com/files/hero-home-new.jpg');
  background-position-y: 50px;
  background-size: auto 1000px;
  background-repeat: no-repeat;
  background-color: $black-background;
}
main {
  position: absolute;
  width: 100%;
  top:50px;
}
top-nav-bar {
  position:fixed;
  width: 100%;
  height: 50px;
  z-index:1;
}

blog {
  overflow-y: hidden;
  position: fixed;
}

.playlist-col {
  overflow-y: scroll;
  h6 {
    text-align: center;
  }
}

.mce-path-item {
  display: none !important;
}

.song-heading {
  display: inline-block;
  height: 1.4em;
  font-size: 1em;
  color: #eee;
  background-color: scale-color($primary-color, $lightness: -10%);
  padding: 0 15px;
  border-radius: 10px;
  text-shadow: 2px 2px 1px black;
}

.playlist-item { 
  font-size: .75em;
  font-family: "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: #A0A0A0;
  // padding: 5px;
  // border: 2px solid white;
  // border-radius: 0 10px 10px 0;
  margin: 1px;
}

.playlist_image {
  border-radius: 4px;
  border: 1px solid black;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.browsehappy {
  margin: 0.2em 0;
  // background: #ccc;
  color: $body-font-color;
  padding: 0.2em 0;
}

.panel {
  margin-top: 50px;
}

.th {
  width: 100%;
  height: 200px;

  img.right {
    width: 50px;
  }
}

div.contain-to-grid.sticky.ng-scope {
  border-bottom: 1px solid white;
}

.top-bar {
  color: #BBB9B9;   
  margin-bottom: 20px; 
}
.top-bar-section ul li > a {
  color: #BBB9B9;   
}

.beats-button {
  margin-top: 50px;
  
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.accordion dd {
  margin:10px 0;
  .content {
    padding: 0.45rem;
  }
}

img.playlist_image {  
  width: 100%;
}

.accordion dd > a {
  padding: 2px 8px;
  font-size: 0.75em;
  font-weight: 600;
  border-radius: 4px;
  line-height:30px;
  overflow-wrap: false;
}

.userImage {
  height:100%;
  width: 100px;
  border-radius: 50px;
  border: 2px solid black;
}

.userImage-container {
  // background-clip: padding-box;
  // -webkit-background-clip: padding-box;
  height:100px;
  margin:10px;
}

h2.blog-nav-heading {
  text-align: center;
  font-family: "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 20px;
}


.blog-nav.button {
  border-radius: 4px;
  padding: 5px 10px;
}

.blog-nav-container {
  display: table;
  margin: 0 auto;
}

.blogForm {
  margin-top: 40px;
  .buttons {
    text-align: right;
    margin: 10px 0;
    button {
      border-radius: 4px;
    }
  }
}
.blogEditInput {
  font-family: "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 25em;
  width: 100%;
  border: 1px solid black;
}

.mce-container-body .mce-stack-layout button, .mce-btn.mce-menubtn button {
  background: transparent !important;
}

a li.track_info_container {
  color: #222;
  &:hover {
    background: white;
  }

  &.currentTrack {
    background: white;
  }

  &.disable {
    background: rgba(0, 0, 0, 0.4);
    pointer-events: none;
  }

}

a.noCursor {
  cursor: default !important;
}

div.blog-entry-heading-container {
  height: 16vh;

  .sub-heading {
    display: inline-block;
    float: right;
    height: 3em;
    background-color: scale-color($primary-color, $lightness: -30%);
    border-radius: 10px;
    padding: 0 2em;
    z-index: -1;
    margin-top: .9em;
    margin-right: 1em;
    h3 {
      display: block;
      position: relative;
      text-shadow: 2px 2px 1px black;
      z-index: 1;
    }
  }
}

.entry_image {
  float: left;
  margin: 0 .7em;
  border: 1px solid black;
}

h1.blog-entry-heading {
  font-size: 7.5vh;
  line-height: 6.2rem;
  text-shadow: 2px 2px 2px black;
  color: rgb(250,255,189);
}
div.blog-entry-content {
  display: block;
  margin: 0 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: #CCCCCC;
  color: black;
  min-height: 16em;
  p {
    line-height : .1em;
  }
}

.track_image {
  width:30px;
  height: 30px;
  margin: 5px 5px;
  border-radius: 4px;
  border: 2px solid white;
}

.track_info_container {
  display: inline-box;
}

.row .blog_view {
  margin: 20px;
}

.fade-in.ng-enter {
  -webkit-animation: enter_sequence 0.2s linear; /* Safari/Chrome */
  animation: enter_sequence 0.2s linear; /* IE10+ and Future Browsers */
}

@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.reveal-modal {
  -webkit-animation: slide_down 0.2s linear; /* Safari/Chrome */
  animation: slide_down 0.2s linear; /* IE10+ and Future Browsers */
  width: 25%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px !important;
  background-color: $black-background;
  text-align: center;
  &:focus {
    outline: 0;
  }
  button {
    &:focus {
      outline: 0;
    }
    &:active {
      background-color: scale-color($primary-color, $lightness: -20%);
    }
    &:hover {
      background-color: scale-color($primary-color, $lightness: 20%);
    }
  }
}

.reveal-modal:focus {
  outline: none;
}

@-webkit-keyframes slide_down {
  from { Top:0; }
  to { Top: 6.25rem; }
}
@keyframes slide_down {
  from { Top:0; }
  to { Top: 6.25rem; }
}
