<div class="row blog_view fade-in" ng-if="true" ng-animate-children>
  <div class="large-12 columns">
  <h3> Blog some stuff about {{ nowEditing.display || 'a song' }}.</h3>
    <form class="blogForm" name="blogEditForm">
      <textarea ui-tinymce class="blogEditInput" name="blogEditInput" ng-model="blogEditInput"></textarea>
      <div class="buttons">
        <button>Cancel</button>
        <button ng-disabled="!blogEditForm.blogEditInput.$dirty">Submit</button>
      </div>
    </form>
  </div>
</div>
