<form>
  <div class="row">
    <div class="large-3 columns text-center">&nbsp</div>
    <!-- <div class="large-3 columns text-center"><a href="https://partner.api.beatsmusic.com/v1/oauth2/authorize?response_type=code&client_id=eunjtjg4755smmz8q942e9kp&redirect_uri=http://www.fakehost.com:8000/beats" class="button-group radius round large button">Authorize Rdio</a></div> -->

    <div class="large-6 columns text-center beats-button">
      <!-- <a href="https://partner.api.beatsmusic.com/v1/oauth2/authorize?response_type=code&client_id=eunjtjg4755smmz8q942e9kp&redirect_uri=http://www.fakehost.com:8000/beats" class="button-group radius round large button">Authorize Beats</a> -->
      <a href="https://partner.api.beatsmusic.com/v1/oauth2/authorize?response_type=token&redirect_uri=http://www.fakehost.com:8000/home&client_id=eunjtjg4755smmz8q942e9kp" class="button-group radius round large button">Authorize Beats</a>  
    </div>
    <div class="large-3 columns text-center">&nbsp</div>
  </div>
</form>