<user-image loading="$root.loading" user-image="userImage"></user-image>
<div ng-hide="active" class="fade-in" ng-if="!loading" ng-animate-children>
  <h6 class="ng-cloak" ng-cloak>{{ currentUser.name }}'s Playlists</h6>
  <accordion close-others="true" ng-repeat="playlist in playlists">
    <accordion-group heading="{{playlist.name}}" is-open="false" class="fade-in" ng-if="true" ng-animate-children>
      <img class="playlist_image" src='https://partner.api.beatsmusic.com/v1/api/playlists/{{ playlist.id }}/images/default?client_id=eunjtjg4755smmz8q942e9kp'>
      <ul class="no-bullet playlist-item" ng-repeat="track in playlist.refs.tracks">
        <a href="#" ng-class="{ noCursor : !activeTracks[track.id] && !editing }"><li ng-class="{ track_info_container: true, currentTrack: nowEditing.id === track.id && lastIndex === this.$index, disable: !activeTracks[track.id] && !editing}" data-playlist-id="{{ playlist.id }}" data-track-id="{{ track.id }}" data-track-name="{{ track.display }}" ng-click="playlistSelect(track.id, track.display, this.$index, playlist.id)"><img class="track_image" src='https://partner.api.beatsmusic.com/v1/api/tracks/{{ track.id }}/images/default?client_id=eunjtjg4755smmz8q942e9kp'>{{ track.display }}</li></a>
      </ul>
    </accordion-group>
  </accordion>
</div>
